* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  color: #333;
  font-family: Poppins;
}

/* Add these classes for smooth sliding animations */
.transition-transform {
  transition: transform 0.3s ease-in-out;
}

/* Remove drop shadows globally or ensure they are unset in the menu */
.shadow-none {
  box-shadow: none;
}